/* Full page background */
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74");
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", sans-serif;
}

/* Card */
.register-card {
  background: rgba(20, 20, 20, 0.95);
  padding: 35px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 87, 34, 0.6);
  text-align: center;
}

/* Title */
.register-title {
  color: #ff5722;
  margin-bottom: 5px;
  font-size: 28px;
}

/* Subtitle */
.register-subtitle {
  color: #bbb;
  margin-bottom: 25px;
  font-size: 14px;
}

/* Form */
.register-form {
  display: flex;
  flex-direction: column;
}

/* Input group */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  color: #ddd;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2c2c2c;
  color: #fff;
  font-size: 14px;
}

/* Focus effect */
.input-group input:focus {
  border: 1px solid #ff5722;
  background: #1f1f1f;
}

/* Button */
.register-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff5722, #ff9800);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.register-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 152, 0, 0.8);
}
.login-link {
  margin-top: 18px;
  font-size: 14px;
  color: #ccc;
}

.login-link a {
  color: #ff9800;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
  color: #ff5722;
}
.error-text {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
}